body {
  font-family: monospace;
  max-width: 700px;
  margin: 40px auto;
  padding: 0 20px;
  background: #111;
  color: #ddd;
  line-height: 1.6;
}

a {
  color: #7aa2f7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2 {
  color: #fff;
}

header {
  margin-bottom: 40px;
}

#side-bar {
  position: absolute;
  top: 80px;
  left: 0;
  width: 200px;
  padding-left: 70px;
}


